/**
 * @name BetterLinks
 * @version 0.0.1
 * @author dimabreus
 * @authorId 840559505308909599
 * @description Changing the links color to gradient
*/

:root {
    --better-links-gradient: linear-gradient(90deg, rgba(0, 255, 239, 1) 0%, rgba(79, 71, 242, 1) 26%, rgba(252, 0, 251, 1) 52%, rgba(197, 136, 255, 1) 78%, rgba(0, 249, 255, 1) 100%);
}

.markup_f8f345 a:not(.link_c91bad),
.anchor_af404b:not(.link_c91bad),
a:not(.link_c91bad) {
    background: var(--better-links-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}