/**
 * @name BetterLinks
 * @version 0.0.7
 * @author dimabreus
 * @authorId 840559505308909599
 * @description Changing the links color to gradient
*/

:root {
    --better-links-gradient: linear-gradient(300deg, rgba(255,61,61,1) 0%, rgba(255,190,103,1) 45%, rgba(255,100,100,1) 74%);
}

.markup_f8f345 a,
.anchor_af404b,
a {
    background: var(--better-links-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.markup_f8f345 a.link_c91bad,
.anchor_af404b.link_c91bad,
a.link_c91bad,
.markup_f8f345 a.name_d8bfb3,
.anchor_af404b.name_d8bfb3,
.name_d8bfb3,
.numberBadge_df8943,
.content_e62b38 a,
.overflow_c74e70,
.wrapper_a5bc92,
.statusText_e66732 {
    background: initial;
    -webkit-background-clip: initial;
    background-clip: initial;
    -webkit-text-fill-color: initial;
}
